{{! Forms already support POST and GET }}
{{! npm methodOverride Delete and Put and Patch }}
<div class="mt-4">
  <h3>Update Course</h3>

  <form
    class="mt-4 row g-3"
    method="POST"
    action="/courses/{{course._id}}?_method=PUT"
  >
    <div class="col-12">
      <label for="name" class="form-label">Name :</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="{{course.name}}"
      />
    </div>
    {{! <div class="col-12">
      <label for="slug" class="form-label">Slug :</label>
      <input type="text" class="form-control" id="slug" name="slug" />
    </div> }}
    <div class="col-12">
      <label for="description" class="form-label">Description :</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        placeholder="Description..."
        name="description"
      >{{course.description}}</textarea>
    </div>
    <div class="col-12">
      <label for="image" class="form-label">Image :</label>
      <input
        type="text"
        class="form-control"
        id="image"
        value="{{course.image}}"
        placeholder="Apartment, studio, or floor"
        name="image"
      />
    </div>
    <div class="col-12">
      <label for="level" class="form-label">Level :</label>
      <input
        type="text"
        class="form-control"
        id="level"
        value="{{course.level}}"
        placeholder="Enter Level...."
        name="level"
      />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
</div>